html, body {
  background: linear-gradient(to right, #3494e6, #ec6ead);
  font-family: "Amatic SC";
  background-attachment: fixed;
}

h1 {
  text-align: center;
  font-size: 45px;
  margin-bottom: 5px;
}

.interface {
  width: 330px;
  height: 171px;
  background-color: lavender;
  display: grid;
  grid-template: repeat(3, 1fr 1fr) / repeat(2, 1fr 1fr);
  margin: auto;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.19) , 0px 1px 10px 0px rgba(0, 0, 0, 0.14) , 0px 2px 4px -1px rgba(0,0,0,0.2);
}

#nipper {
  width: 150px;
  grid-area: 1/ 1/ span 4/ span 2;
  margin: auto;
}

.currently-playing {
  grid-area: 1/ 3/ span 4/ span 2;
  font-size: 21px;
  margin: auto;
  word-break: break-all;
}

.play-controls {
  display: flex;
  justify-content: space-between;
  grid-area: 5 / 1;
  margin: auto;
}

.play-btn {
  display: flex;
}
.bar1,.bar2,.bar3 {
  width: 5px;
  background-color: black;
}
.bar1 {
  height: 19px;
  margin: 4px;
}
.bar2 {
  height: 18px;
  transform: rotate(-54deg) translate(-2px, 0px);
  transition: 0.4s;
}
.bar3 {
  height: 17px;
  transform: rotate(-118deg) translate(-5px, -10px);
}
.change .bar2 {
  transform: rotate(-180deg) translate(0px, -4px);
  height: 19px;
}
.change .bar3 {
  opacity: 0;
}
.next-prev-controls {
  display: flex;
  align-self: center;
}

#play-previous,#play-next {
  width: 24px;
}

#play-previous:hover,#play-next:hover {
  background-color: rgb(208, 161, 252);
}

.volume-controls {
  grid-area: 5 / 2;
  margin: auto;
  display: flex;
}

.slider-container {
  opacity: 0;
  transition: all 0.2s ease-in;
  display: inherit;
  align-self: center;
}
.slider-container:hover {
  opacity: 1;
}

#vol-icon {
  width: 20px;
}

.vol-slider {
  width: 70px;
  outline: none;
  -webkit-appearance: none;
  appearance: none;
  height: 5px;
  background: #d2a6fa;
  opacity: 0.7;
}

#progress-bar {
  width: 300px;
  height: 15px;
  grid-area: 6 / 1 / 6 / span 4;
  background: #d2a6fa;
  align-self: center;
  margin-left: 5px;
}

#progress {
  width: 0px;
  height: 15px;
  background-color: blueviolet;
}

#dropdown-icon {
	width: 16px;
	grid-area: 6 / 4;
  justify-self: end;
  align-self: center;
  transition: all 0.5s ease-in-out;
  margin-right: 4px;
}

.playlist-wrapper {
  visibility: hidden;
  margin: auto;
  width: 320px;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s cubic-bezier(.65,.05,.36,1);
}

.playlist-wrapper.show{
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s cubic-bezier(.65,.05,.36,1);
}

.playlist {
  background: aliceblue;
  margin-top: 5px;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.14) , 0px 1px 10px 0px rgba(0,0,0,0.12) , 0px 2px 4px -1px rgba(0,0,0,0.2) inset;
}

li {
  padding: 5px;
  border-radius: 10px;
}

li:hover {
  background: lavender;
  
}

.song-name {
  font-size: 26px;
  text-decoration: underline;
}

#artist,#song,h1,p {
  margin: 0px;
}

.play-btn,.next-prev-controls,.volume-controls,
#dropdown-icon,.song-card,.slider-container,.vol-slider {
  cursor: pointer;
}

.interface,#nipper,.bar1,.bar2,.bar3,#play-previous,#play-next,.playlist {
  border-radius: 5px;
}