html, body {
  background: linear-gradient(to right, #3494e6, #ec6ead);
  font-family: "Amatic SC";
  background-attachment: fixed;
}
h1 {
  text-align: center;
  font-size: 45px;
}
#nipper {
  width: 150px;
  grid-area: 1/ 1/ span 4/ span 2;
  margin: auto;
  margin-left: 25px;
}
#nipper,.interface,.bar1,.bar2,.bar3,#play-next,#play-previous,.commands,.playlist {
  border-radius: 5px;
}
.playing {
  grid-area: 1/ 3/ span 4/ span 2;
  font-size: 25px;
}
p {
  word-wrap: anywhere;
}
.interface {
  width: 340px;
  height: max-content;
  background-color: lavender;
  display: grid;
  grid-template: repeat(3, 1fr 1fr) / repeat(2, 1fr 1fr);
}

.play-btn {
  display: flex;
  cursor: pointer;
  grid-row-start: 5;
  justify-content: space-between;
  margin-left: 2px;
}
.bar1,.bar2,.bar3 {
  width: 5px;
  background-color: black;
}
.bar1 {
  height: 25px;
  margin: 4px;
}
.bar2 {
  height: 26px;
  transform: rotate(-55deg) translate(1px, 0px);
  transition: 0.4s;
}
.bar3 {
  height: 25px;
  transform: rotate(-115deg) translate(-9px, -9px);
}
.change .bar2 {
  transform: rotate(-180deg) translate(0px, -4px);
  height: 25px;
}
.change .bar3 {
  opacity: 0;
}

.material-icons-round {
  font-family: 'Material Icons Round';
  font-size: 40px;
  cursor: pointer;
}
.sliderContainer {
  width: max-content;
  visibility: hidden;
}
.slider {
  width: 100px;
  cursor: pointer;
}
#artist,#song,h1,p {
  margin: 0px;
}
.volume-controls {
  width: max-content;
  grid-column-start: 3;
  display: flex;
  align-items: end;
  grid-column-end: 5;
}
.volume-controls:hover .sliderContainer {
  visibility: visible;
}
#vol-icon {
  width: 28px;
  cursor: pointer;
}
#play-previous,#play-next {
  width: 35px;
  cursor: pointer;
}
#play-previous:hover,#play-next:hover {
  background-color: rgb(208, 161, 252);
}
.next-prev-controls {
  display: flex;
  justify-content: center;
}
.commands {
  display: flex;
  justify-content: space-between;
  grid-column-end: span 2;
  margin-left: 25px;
}
.playlist,#bar,.playing,.volume-controls,.interface {
  margin: auto;
}
.playlist {
  width: 300px;
  background: aliceblue;
}
#bar {
  width: 300px;
  height: 20px;
  grid-row-start: 6;
  grid-column-end: span 4;
  background: #d2a6fa;
}
#progress {
  width: 20px;
  height: 20px;
  background-color: blueviolet;
}
li {
  padding: 5px;
}
li:hover {
  background: lavender;
  border-radius: 10px;
  cursor: pointer;
}
.song-name {
  font-size: 30px;
  text-decoration: underline;
}
.playlist-wrapper {
  margin-top: 10px;
}
  